@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  background-color: deeppink;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-family: 'Carter One', cursive;
  font-size: 12vmin;
  color: darkviolet;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.description {
  color: gold;
  font-size: 4vmin;
  font-weight: 500;
}

p {
  margin: 0;
  margin-bottom: 1rem;
}

.Emojis {
  font-size: 15vmin;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: 8px;
  margin: 3rem auto;
  box-shadow: 0px 6px 0px -1px rgba(0, 0, 0, 0.6);
}

.hint {
  padding: 0;
  margin: 0;
  margin-top: 5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: gold;
}

#hint {
  display: inline-block;
  position: relative;
}

#tooltip {
  display: block;
  background: #ffffff;
  color: #643045;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;

  position: absolute;
  top: calc(100% + 8px);
  left: -150px;
  width: 300px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  left: 50%;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

a {
  color: unset;
}
